<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <!--<Application.Resources>
    <ResourceDictionary>
      <ResourceDictionary.MergedDictionaries>
        --><!-- MahApps.Metro resource dictionaries. Make sure that all file names are Case Sensitive! --><!--
        <ResourceDictionary Source="pack://application:,,,/MahApps.Metro;component/Styles/Controls.xaml" />
        <ResourceDictionary Source="pack://application:,,,/MahApps.Metro;component/Styles/Fonts.xaml" />
        --><!-- Accent and AppTheme setting --><!--
        <ResourceDictionary Source="pack://application:,,,/MahApps.Metro;component/Styles/Colors.xaml" />
        <ResourceDictionary Source="pack://application:,,,/MahApps.Metro;component/Styles/Accents/Blue.xaml" />
        <ResourceDictionary Source="pack://application:,,,/MahApps.Metro;component/Styles/Accents/BaseLight.xaml" />
      </ResourceDictionary.MergedDictionaries>
    </ResourceDictionary>
  </Application.Resources>-->
  <connectionStrings>
    <add name="mySqlDbConnection" connectionString="server=localhost;user=root;database=agilelab;port=3306;password=;" />
  </connectionStrings>
</configuration>